<div class="container">
    <h2>Indonesia :</h2>
    <h3>Cara menghapus akun anda :</h3>
    <ol>
        <li>Catat email yang digunakan pada aplikasi</li>
        <li>Hubungi email yang tersedia pada deskripsi dibawah</li>
        <li>Kirimkan email yang akan dihapus dengan subject “Delete Account”</li>
        <li>Tunggu proses 2-5 hari kerja untuk penghapusan akun</li>
    </ol>


    <h2>In English :</h2>
    <h3>How to delete your account:</h3>
    <ol>
        <li>Note the email used in the application</li>
        <li>Contact the email provided in the description below</li>
        <li>Send the email to be deleted with the subject "Delete Account"</li>
        <li>Wait for 2-5 business days for account deletion</li>
    </ol>

    <br/>

    <p>
        <b>Email : </b> <a href="mailto:waffle.developer00@gmail.com">waffle.developer00&#64;gmail.com</a>
    </p>
</div>
