<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Edit Background Gambar
            </h3>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label class="form-label">Judul</label>
                <input type="text" class="form-control" id="input-title" (keyup)="onKeyTitle($event)" [value]="title" placeholder="Judul Gambar">
            </div>
            <div class="mb-3">
                <label class="form-label">Foto Produk</label>
                <input type="file" class="form-control" id="input-product-image" (input)="onInputProductImage($event)">
            </div>
            <div class="mb-3">
                <label class="form-label">Deskripsi Background</label>
                <textarea type="text" class="form-control" id="input-prompt" (keyup)="onKeyPrompt($event)" [value]="prompt" style="height: 200px;" placeholder="Deskripsi Background Baru"></textarea>
            </div>

            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ loading ? 'Loading...' : 'Submit'}}</button>
            </div>
        </div>
    </div>
</div>
