<div class="container">
    <div class="mb-3">
        <label class="form-label">Judul</label>
        <input type="text" class="form-control" id="input-title" (keyup)="onKeyTitle($event)" [value]="title">
    </div>
    <div class="mb-3">
        <label class="form-label">Nama Brand</label>
        <input type="text" class="form-control" id="input-brand-name" (keyup)="onKeyBrandName($event)" [value]="brandName">
    </div>
    <div class="mb-3">
        <label class="form-label">Jenis Produk</label>
        <input type="text" class="form-control" id="input-product-type" (keyup)="onKeyProductType($event)" [value]="productType">
    </div>
    <div class="mb-3">
        <label class="form-label">Target Pasar</label>
        <input type="text" class="form-control" id="input-market-target" (keyup)="onKeyMarketTarget($event)" [value]="marketTarget">
    </div>
    <div class="mb-3">
        <label class="form-label">Keunggulan</label>
        <textarea class="form-control" id="input-superiority" (keyup)="onKeySuperiority($event)" [value]="superiority"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Durasi Video (detik)</label>
        <input type="number" class="form-control" id="input-duration" (keyup)="onKeyDuration($event)" [value]="duration">
    </div>

    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">Generate Storyboard</button>
    </div>
</div>
